@model System.Data.DataTable
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}



<h1>Personas</h1>
<p>
    <a asp-action="CreatePersona">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <p style="height:5px">Nombre</p>
            </th>
            <th>
                <p style="height:5px">Tipo Doc. Id</p>
            </th>
            <th>
                <p style="height:5px">Valor Doc. Id</p>
            </th>
            <th>
                <p style="height:5px">Email</p>
            </th>
            <th>
                <p style="height:5px">Tel 1</p>
            </th>
            <th>
                <p style="height:5px">Tel 2</p>
            </th>
        </tr>
    </thead>
    <tbody>

        @{
            int id;
            for (int i = 0; i < Model.Rows.Count; i++)
            {
                id = (int)Model.Rows[i][0];
                <tr>
                    <td>
                        <p style="height:5px">@Model.Rows[i][1].ToString()</p>
                    </td>
                    <td>
                        <p style="height:5px">@Model.Rows[i][2].ToString()</p>
                    </td>
                    <td>
                        <p style="height:5px">@Model.Rows[i][3].ToString()</p>
                    </td>
                    <td>
                        <p style="height:5px">@Model.Rows[i][4].ToString()</p>
                    </td>
                    <td>
                        <p style="height:5px">@Model.Rows[i][5].ToString()</p>
                    </td>
                    <td>
                        <p style="height:5px">@Model.Rows[i][6].ToString()</p>
                    </td>
                    <td>
                        <a asp-action="EditPersona" asp-route-id="@id">Edit</a> |
                        <a asp-action="DetailsPersona" asp-route-id="@id">Detalles</a> |
                        <a asp-action="DeletePersona" asp-route-id="@id">Borrar</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>