@model System.Data.DataTable
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}



<h1>Usuario-Propiedad</h1>
<p>
    <a asp-action="CreateUsuarioPropiedad">Asociar Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <p style="height:5px">Usuario</p>
            </th>
            <th>
                <p style="height:5px">Numero de finca</p>
            </th>
        </tr>
    </thead>
    <tbody>

        @{
            int id;
            for (int i = 0; i < Model.Rows.Count; i++)
            {
                id = (int)Model.Rows[i][0];
                <tr>
                    <td>
                        <p style="height:5px">@Model.Rows[i][1].ToString()</p>
                    </td>
                    <td>
                        <p style="height:5px">@Model.Rows[i][2].ToString()</p>
                    </td>
                    <td>
                        <a asp-action="EditUsuarioPropiedad" asp-route-id="@id">Editar</a> |
                        <a asp-action="DetailsUsuarioPropiedad" asp-route-id="@id">Detalles</a> |
                        <a asp-action="DesasociarUsuarioPropiedad" asp-route-id="@id">Desasociar</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>